<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089749625426-i5l6nnmilfoite9psbumdc9co4pb1pre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089749625426-i5l6nnmilfoite9psbumdc9co4pb1pre</string>
	<key>API_KEY</key>
	<string>AIzaSyD1C4VyDQBxC0k66UURopcKyJRY3ojkO8w</string>
	<key>GCM_SENDER_ID</key>
	<string>1089749625426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkthrough</string>
	<key>PROJECT_ID</key>
	<string>talkthrough-7ad4b</string>
	<key>STORAGE_BUCKET</key>
	<string>talkthrough-7ad4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089749625426:ios:29eaca274f378134f9cd8b</string>
</dict>
</plist>